.liveness-container {
  background-color: #FFFFFF;
  height: 80vh;
}

.amplify-liveness-start-screen-warning {
  display: none;
}

/* 
.amplify-liveness-landscape-error-modal__header {
  font-weight: 500;
}

.amplify-liveness-start-screen-warning {
  display: none;
}

.amplify-liveness-oval-canvas canvas {
  display: none !important;
}

.amplify-liveness-oval-canvas {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.amplify-liveness-oval-canvas::after {
  content: "";
  width: 60%;
  height: 85%;
  border-radius: 25%;
  border: 3px solid;
  border-color: #4f46e5;
  animation: livenessBorderColor 3s linear infinite;
}

@keyframes livenessBorderColor {
  0% {
    border-color: #3b82f6;
  }

  25% {
    border-color: #8b5cf6;
  }
  50% {
    border-color: #ef4444;
  }

  75% {
    border-color: #facc15;
  }
  100% {
    border-color: #3b82f6;
  }
}

*/

.amplify-button.amplify-field-group__control.amplify-button--link.amplify-button--large.amplify-liveness-cancel-button {
  display: none;
}